<div class="author">
	<figure class="author-image">
		<div class="img" style="background-image: url(//www.gravatar.com/avatar/aef957da159a0812163dc588be7de3f3?d=404&s=250)"></div>
	</figure>
	<p>
		Hey, I'm Daniel.<br>I build and study products. Here, I share my learnings and opinions.
		<br><a href="/why-am-i-doing-this">Read more about me</a>
	</p>
</div>

<div class="follow">
	<a href="https://twitter.com/daniellangnet" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @daniellangnet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

<form action="//daniellang.us3.list-manage.com/subscribe/post?u=53293c169e0cc430a5f2beb58&amp;id=1478601d47" method="post" target="_blank" class="signup-form" novalidate>
	<p>Subscribe now to get my latest blog posts!</p>
	<input type="email" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter e-mail">

	<!-- anti-bot -->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_53293c169e0cc430a5f2beb58_1478601d47" tabindex="-1" value=""></div>
    
    <input type="submit" value="Subscribe" name="subscribe" class="submit">
</form>