#content-wrap {
	width: 100%;
	max-width: 1060px;
	margin: 0 auto;
}

#content {
	width: 75%;
	float: left;
}

.sidebar {
	width: calc(25% - 2rem);
	float: left;
	margin-top: 4rem;
	min-width: 160px;
	box-sizing: border-box;
	background:red;
}