#content-wrap {
	width: 100%;
	max-width: 1060px;
	margin: 0 auto;
}

.content {
	width: calc(100% - (300px + 2rem));
	float: left;
}

.sidebar {
	width: 300px;
	float: left;
	margin-top: 4rem;
	box-sizing: border-box;
}

.sidebar .author-image {
	position: relative;
	left: auto;
	top: auto;
	width: 120px;
	height: 120px;
	padding: 3px;
	margin: 0 auto;
	box-shadow: none;
}

.sidebar .author p {
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 1.5rem;
	line-height: 1.2;
	letter-spacing: normal;
	padding: 10px 30px 0 30px;
}

.sidebar .follow {
	margin-left: 60px;
}